<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeautySmiles.in</title>
      <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="../favicon.svg" type="image/svg+xml">

   <!-- google fonts
 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">
   <!-- 
    style
    -->
    <link rel="stylesheet" href="./facials_items.css">
</head>
<body>
    <div class="heading-offer">BeautySmiles.in</div>
    <p class="salon">salon at home services</p>
    <h3 class="offer-pack">Facials Services</h3>
    <div class="container">
        <ul>
            <li class="banner-offer"><a href="../facials/brand product name/O3Plus/O3plus.html"> <img src="../facials/images/11.png" alt=""></a></li>
            <li class="banner-offer"><a href="../component/waxing/full_body.html"> <img src="../facials/images/12.jpg" alt=""></a></li>

          
        </ul>
    </div>
    <div class="container">
        <ul>
            <li class="banner-offer"><a href="../component/waxing/rica_black.html"> <img src="../facials/images/13.png" alt=""></a></li>
            <li class="banner-offer"><a href="../component/waxing/normal_wax.html"> <img src="../facials/images/14.png" alt=""></a></li>
        
         
          
        </ul>
    </div>
    <div class="container">
        <ul>
            <li class="banner-offer"><a href="../component/waxing/bikini_wax.html"> <img src="../facials/images/15.jpg" alt=""></a></li>
            <li class="banner-offer"><a href="../component/waxing/face_waxing.html"> <img src="../facials/images/16.png" alt=""></a></li>
            
          
        </ul>
    </div>
    <div class="container">
        <ul>
            <li class="banner-offer"><a href="../component/waxing/rica_sensitive_wax.html"> <img src="../facials/images/17.jpg" alt=""></a></li>
            <li class="banner-offer"><a href="../component/waxing/rica_dry_wax.html"> <img src="../facials/images/18.jpg" alt=""></a></li>
        </ul>

    </div>
    <div class="container">
     <ul>
        <li></li>
     </ul>

    </div>

</body>
</html>