<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>waxing_combo</title>
    <link rel="stylesheet" href="./pedicure.css">
</head>
<body>
     <div class="main_container">
          <div class="heading_wax">
            <header>Beautysmiles.in</header>
            <h4>Pedicure Services</h4>
          </div>
     </div>
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./images/Nail Cut, file & polish (feet).jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Nail Cut, file & polish (both feet)</p>
               <p class="discripation"> 15min (₹ 199)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        2nd item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./images/VLCC Classic Manicure.webp" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">VLCC Classic Pedicure - 40Min</p>
               <p class="discripation">4 Steps Service</p>
               <p class="discripation">Inclusive of 10min Foot Massage</p>
               <p class="discripation">Electric Foot Spa Pedicure Tub</p>
               <p class="discripation">will be provided(₹ 499)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        3nd item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./images/VLCC Classic Manicure.webp" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">VLCC Classic Pedicure with </p>
               <p class="discripation">De-Tan Pack for Legs - 60Min</p>
               <p class="discripation">5 Steps Service</p>
               <p class="discripation">Inclusive of 15min Foot Massage</p>
               <p class="discripation">Electric Foot Spa Pedicure Tub</p>
               <p class="discripation">will be provided
                (₹ 599)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        4th item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./images/Sara Intensive Cooling Manicure.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Sara Intensive Cooling </p>
               <p class="discripation"> Pedicure - 60Min</p>
               <p class="discripation"> 4 Steps Service</p>
               <p class="discripation"> Inclusive of 15min Foot Massage</p>
               <p class="discripation">Electric Foot Spa Pedicure Tub</p>
               <p class="discripation">will be provided
                (₹ 699)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>

      <!-- 
        5th item
       -->
      <div class="wax_item_container ">
        <div class="wax_product">
            <img src="./images/O3+ Professional Spa Manicure.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">O3+ Professional Spa</p>
               <p class="discripation">Pedicure - 60Min</p>
               <p class="discripation">6 Steps Service</p>
               <p class="discripation">Inclusive of 15min Foot Massage</p>
               <p class="discripation">Electric Foot Spa Pedicure Tub</p>
               <p class="discripation">will be provided
                (₹ 799)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        go to cart
       -->
      <div class="button_cont ">
          <button class="btn_go_to_cart">Go to cart</button>
      </div>
               <!-- 
        6th item
       -->
       <div class="wax_item_container bot">
        <div class="wax_product  colorbg">
           <div class="item_waxs">
               <p class="discripations">Call Us: +91 8102735631</p>
               <p class="discripations">WhatsApp No. is required for Booking</p>
               <p class="discripations">Min. Booking Amount: ₹699</p>
               <p class="discripations">Payment: UPI/Cash/Credit Card/Debit Card</p>
               <p class="discripations">Thankyou enjoy our services</p>
           </div>
         </div>
      </div>
      
</body>
</html>