<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautysmiles.in- mehandi Services</title>
    <link rel="stylesheet" href="./mehandi.css">
      <!-- 
    - favicon
  -->
  <link rel="icon" href="./favicon.svg" type="image/svg+xml">
</head>
<body>
     <div class="main_container">
          <div class="heading_wax">
            <header>Beautysmiles.in</header>
            <h4>Mehandi</h4>
          </div>
     </div>
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./images/Mehndi for Palm Both Hands.jpeg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Mehndi for Palm Both Hands
                (₹ 399) &nbsp;</p>
              
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        2nd item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./images/Half Hand Mehndi Both Hands.jpeg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Half Hand Mehndi Both Hands
                (₹799)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        3nd item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./images/Half Legs Mehndi Both Legs.jpeg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Half Legs Mehndi - Both Legs
                (₹799)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        4th item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./images/Full Hands Mehndi Both Hands.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Full Hands Mehndi - Both Hands
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
               <p> (₹1,499)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        5th item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./images/mandala-henna-art.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Full Legs Mehndi Both Legs
                (₹ 1,499)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>


      <!-- 
        go to cart
       -->
      <div class="button_cont">
          <button class="btn_go_to_cart">Go to cart</button>
      </div>
               <!-- 
        6th item
       -->
       <div class="wax_item_container bot">
        <div class="wax_product  colorbg">
           <div class="item_waxs">
               <p class="discripations">Call Us: +91 8102735631</p>
               <p class="discripations">WhatsApp No. is required for Booking</p>
               <p class="discripations">Min. Booking Amount: ₹699</p>
               <p class="discripations">Payment: UPI/Cash/Credit Card/Debit Card</p>
               <p class="discripations">Thankyou enjoy our services</p>
           </div>
         </div>
      </div>
      
</body>
</html>