<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>waxing_combo</title>
    <link rel="stylesheet" href="./mehandi.css">
</head>
<body>
     <div class="main_container">
          <div class="heading_wax">
            <header>Beautysmiles.in</header>
            <h4>waxing combos</h4>
          </div>
     </div>
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./images/Mehndi for Palm Both Hands.jpeg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Mehndi for Palm Both Hands (₹ 499)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        2nd item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./images/Half Hand Mehndi Both Hands.jpeg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Half Hand Mehndi Both Hands (₹ 699)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        3nd item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./images/Full Hands Mehndi Both Hands.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">FullHands Mehndi Both Hands(₹1,299)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        4th item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./images/Half Legs Mehndi Both Legs.jpeg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Half Legs Mehndi Both Legs (₹1,299)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>

   
</body>
</html>