<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>waxing_combo</title>
    <link rel="stylesheet" href="./meincure.css">
</head>
<body>
     <div class="main_container">
          <div class="heading_wax">
            <header>Beautysmiles.in</header>
            <h4>waxing combos</h4>
          </div>
     </div>
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="../waxing/images/sleek wax.webp" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Sleek - Premium Normal Wax</p>
               <p class="discripation">Full Arms, Full Legs & Underarms</p>
               <p class="discripation">For All Skin Types (₹ 399)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        2nd item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="../waxing/images/sleek_chocolate_wax_600_gm_550750_0_0.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Sleek - Premium Chocolate Wax</p>
               <p class="discripation">Full Arms, Full Legs & Underarms</p>
               <p class="discripation">For All Skin Types (₹ 599)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        3nd item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="../waxing/images/rica_cho.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Sleek - Premium Normal Wax</p>
               <p class="discripation">Full Arms, Full Legs & Underarms</p>
               <p class="discripation">Normal to Dry Skin Types (₹ 899)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        4th item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="../waxing/images/sweet_amand.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Sleek - Premium Normal Wax</p>
               <p class="discripation">Full Arms, Full Legs & Underarms</p>
               <p class="discripation">For Sensitive Skins Types (₹ 999)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        5th item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="../waxing/images/rica_black.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Sleek - Premium Normal Wax</p>
               <p class="discripation">Full Arms, Full Legs & Underarms</p>
               <p class="discripation">For Sensitive Skins Types (₹ 1,499)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        6th item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="../waxing/images/rica organic.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">RICA Argan Oil Wax</p>
               <p class="discripation">Full Arms, Full Legs & Underarms</p>
               <p class="discripation">For Sensitive Skins Types (₹ 1,499)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        7th item
       -->
      <div class="wax_item_container bot">
        <div class="wax_product">
            <img src="../waxing/images/rica hy.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">RICA Hygienic Roll-on Waxing</p>
               <p class="discripation">Full Arms, Full Legs & Underarms</p>
               <p class="discripation">For All Skin Types (₹ 1,499)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
   
</body>
</html>