<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautysmiles.in-Massage Services</title>
    <link rel="stylesheet" href="./massage.css">
    <link rel="icon" href="./massage/favicon.svg" type="image/svg+xml">
</head>
<body>
     <div class="main_container">
          <div class="heading_wax">
            <header>Beautysmiles.in</header>
            <h4>Massage Services</h4>
          </div>
     </div>
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./massage/Head Massage.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Relaxing Head Massage&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
               <p class="discripation">with Essential Oil - 30min
                (₹ 399)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        2nd item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./massage/Head Massage.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Head&Shoulder Relaxing Massage</p>
            
               <p class="discripation">with Essential Oil - 30min
                (₹ 499)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        3nd item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./massage/full body massage.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Full Back Relaxing Massage </p>
              
               <p class="discripation">with Essential Oil - 30min
                (₹ 499)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        4th item
       -->
      <div class="wax_item_container">
        <div class="wax_product">
            <img src="./massage/full body massage.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Full Body Relaxing Massage
               </p>
               <p class="discripation">  with Essential Oil - 45min
                ( ₹ 899) </p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>

      <!-- 
        5th item
       -->
      <div class="wax_item_container ">
        <div class="wax_product">
            <img src="./massage/full body massage.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Full Body Relaxing Massage
              </p>
               <p class="discripation">  with Essential Oil - 60min
                (₹ 999)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        5th item
       -->
      <div class="wax_item_container ">
        <div class="wax_product">
            <img src="./massage/foot massage.jpg" alt="" class="img_wax">
           <div class="item_wax">
               <p class="discripation">Relaxing Foot Massage</p>
               <p class="discripation"> with Essential Oil - 45min
                ( ₹ 899)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
      <!-- 
        5th item
       -->
      <div class="wax_item_container ">
        <div class="wax_product">
            <img src="./massage/hand.jpg" alt="" class="img_wax">
           <div class="item_wax">
            <p class="discripation">Relaxing Hands Massage</p>
            <p class="discripation"> with Essential Oil - 45min
             ( ₹ 899)</p>
                <button class="add_cart_btn">Add to cart</button>
           </div>
         </div>
      </div>
    
      <!-- 
        go to cart
       -->
      <div class="button_cont">
          <button class="btn_go_to_cart">Go to cart</button>
      </div>
               <!-- 
        6th item
       -->
       <div class="wax_item_container bot">
        <div class="wax_product  colorbg">
           <div class="item_waxs">
               <p class="discripations">Call Us: +91 8102735631</p>
               <p class="discripations">WhatsApp No. is required for Booking</p>
               <p class="discripations">Min. Booking Amount: ₹699</p>
               <p class="discripations">Payment: UPI/Cash/Credit Card/Debit Card</p>
               <p class="discripations">Thankyou enjoy our services</p>
           </div>
         </div>
      </div>
      
</body>
</html>