<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeautySmiles.in</title>
      <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="../favicon.svg" type="image/svg+xml">

   <!-- google fonts
 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">
   <!-- 
    style
    -->
    <link rel="stylesheet" href="../component/waxing.css">
</head>
<body>
    <div class="heading-offer">BeautySmiles.in</div>
    <p class="salon">salon at home services</p>
    <h3 class="offer-pack"> Waxing</h3>
    <div class="container">
        <ul>
            <li class="banner-offer"><a href="../component/waxing/waxing_combo.html"> <img src="../assets/images/11.png" alt=""></a></li>
            <li class="banner-offer"><img src="../assets/images/12.png" alt=""></li>

          
        </ul>
    </div>
    <div class="container">
        <ul>
         
            <li class="banner-offer"><img src="../assets/images/13.png" alt=""></li>
            <li class="banner-offer"><img src="../assets/images/14.png" alt=""></li>
         
          
        </ul>
    </div>
    <div class="container">
        <ul>
           
            <li class="banner-offer"><img src="../assets/images/15.png" alt=""></li>
            <li class="banner-offer"><img src="../assets/images/16.png" alt=""></li>
          
        </ul>
    </div>
    <div class="container">
        <ul>
            <li class="banner-offer"><img src="../assets/images/17.png" alt=""></li>
            <li class="banner-offer"><img src="../assets/images/18.png" alt=""></li>
            
          
        </ul>
    </div>
</body>
</html>